<!DOCTYPE HTML>
<html data-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://picocss.com/favicon.ico">
    <meta name="description" content="Extreme weather conditions over the past 24 hours for all continents. High and low temperatures, wind gusts and precipitation">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <link rel="canonical" href="http://extreme-weather.gq/" />
    <meta name="robots" content="index, nofollow">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Extreme Weather Today" />
    <meta property="og:description" content="Extreme weather conditions over the past 24 hours for all continents" />
    <meta property="og:image" content="http://extreme-weather.gq/static/earth-banner.jpg" />
    <meta property="og:url" content="http://extreme-weather.gq/" />
    <meta property="og:site_name" content="Extreme Weather" />
    <meta name="google-site-verification" content="Dv5kPkTlRo0491DVlG8bWEMO3VscI609n-ckL71MzEQ" />
    <title>Weather Extremes Today - High, low, wind, precipitation</title>
  </head>
  <body>
    <div class="container">
      <div class="container">
        <img class="banner" src="/static/earth-banner.jpg" alt="banner">
        <div class="bottom-right">Extreme Weather Today</div>
      </div>
      <select id="regions" required onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
        <option value="">Select a region</option>
        {% for reg in regions %}
          <option value="{{reg[0]}}">{{ reg[1] }}</option>
        {% endfor %}
      </select>

      <p class="results-date">
        {{ results[0][0] }} - {{ results[0][1] }}
      </p> 
      
      {% for key, value in results[1].items() %}
        <label for="{{key}}">{{key}}</label>
        <table id = "{{key}}">
          <col width="75%" />
          <col width="25%" />
          <thead>
            <tr>
              <th scope="col">Place</th>
              <th class="right-align" scope="col">Value</th>
            </tr>
          </thead>
          <tbody>
            {% for res in value %}
              <tr>
                <td>{{res[0]}}</td>
                <td class ="right-align">{{res[1]}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endfor %}
      
    </div>
  </body>
</html>
