<!DOCTYPE HTML>
<html data-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://picocss.com/favicon.ico">
    <meta name="description" content="Extreme weather conditions over the past 24 hours for all continents. High and low temperatures, wind gusts and precipitation">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <link rel="canonical" href="https://weather.costa365.site" />
    <meta name="robots" content="index, nofollow">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Extreme Weather Today" />
    <meta property="og:description" content="Extreme weather conditions over the past 24 hours for all continents" />
    <meta property="og:image" content="https://weather.costa365.site/static/earth-banner.jpg" />
    <meta property="og:url" content="https://weather.costa365.site" />
    <meta property="og:site_name" content="Extreme Weather" />
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="weather.costa365.site">
    <meta property="twitter:url" content="https://weather.costa365.site/">
    <meta name="twitter:title" content="Extreme Weather Today">
    <meta name="twitter:description" content="Extreme weather conditions over the past 24 hours for all continents">
    <meta name="twitter:image" content="https://weather.costa365.site/static/earth-banner.jpg">
    <meta name="google-site-verification" content="60OncClJXklTs1dBRdNxavfBgf0FnyPkQ6eSu_XvgNE" />
    <title>Weather Extremes Today - High, low, wind, precipitation</title>
  </head>
  <body>
    <div class="container">
      <div class="container">
        <img class="banner" src="/static/earth-banner.jpg" alt="banner">
        <div class="bottom-right">Extreme Weather Today</div>
      </div>

      {% if results is defined and results|length > 0 %}

        <select id="regions" required onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
          <option value="">Select a region</option>
            {% for reg in regions %}
                <option value="{{reg[0]}}">{{ reg[1] }}</option>
            {% endfor %}
        </select>

        <p class="results-date">
          {{ results[0][0] }} - {{ results[0][1] }}
        </p> 
      
        {% for key, value in results[1].items() %}
          {% set title = key[2:] %}
          <label for="{{title}}">{{title}}</label>
          <table id = "{{title}}">
            <col width="75%" />
            <col width="25%" />
            <thead>
              <tr>
                <th scope="col">Place</th>
                <th class="right-align" scope="col">Value</th>
              </tr>
            </thead>
            <tbody>
              {% for res in value %}
                <tr>
                  <td>{{res[0]}}</td>
                  <td class ="right-align">{{res[1]}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endfor %}

      {% else %}
         <p><i>API is currently unavailable</i></p>
      {% endif %}
      
    </div>
  </body>
</html>
